#map {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 2;
  .map-center {
    position: fixed;
    top: 50%+7px;
    left: 50%-3px;
    z-index: 2;
    font-size: 22px;
    color: royalblue;
  }
  .map-location {
    display: flex;
    flex-direction: row;
    padding: 2px 8px;
    margin-top: 42px;
    button {
    min-width: 60px;
    padding: 4px 8px;
    border-radius: 60px;
    }
  }
}
#container {
  position: absolute;
  top: 78px;
  bottom: 0;
  right: 0;
  left: 0;
}